  <nav>
    <h1 style="color: blue; font-size: 30px;"> Tiny App </h1>
  </nav>

    <% if (username) { %>
    <%= username.email %>

    <form action="/logout" method="POST">
      <input value="Logout" type="submit"/>
    </form>

    <% } else { %>

    <form action="/login" method="GET">
      <input value="Login" type="submit"/>
    </form>

    <form action="/register" method="GET">
      <input value="Register" type="submit"/>
    </form>
  <% } %>
<!--
if not username register here
else
already a user? please log in
else
welcome back, username.email
-->