<!DOCTYPE html>
<html>
<head>
  <title>Tiny App</title>
</head>

<h1 style="color: blue; font-size: 30px;"> Tiny App </h1>

  <body>
    <h2> Sign in with your credentials here</h2>

    <form method="POST" action="/login">
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="login">
    </form>

  </body>

</html>
