<!DOCTYPE html>
<html>
<head>
  <title>Tiny App - Login</title>
</head>
<h1 style="color: blue; font-size: 30px;"> Tiny App </h1>
  <body>

    <% if (!username) { %>
    <form method="POST" action="/login">
      <input type="email" name="email" placeholder="email address">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Login">
    </form>

    <% } else { %>

    <h3> You are already logged in </h3>
    <% } %>
  </body>
</html>
