<!DOCTYPE html>
<html>
  <head>
  <title>Tiny App</title>
  </head>
  <body>
  <h1> Register for an account below: </h1>
    <p>
    <form action="/register" method="POST">
      Email: <input type="email" name="email">
      Password: <input type="password" name="password">
      <button type="submit"> Register </button>
    </form>
  </body>
</html>
