<!DOCTYPE html>
<head>
  <title>Tiny App</title>
</head>
  <body>
    <p>
      Your short URL: <%= shortURL %>
    </p>
    <p>
      The website of your URL: <%=longURL%>
    </p>
    <p>
      Update your website URL here:
    </p>

    <form action="/urls/<%= shortURL %>" method="POST">
      <input id="longURL" type="text" name="longURL" value="http://">
      <input type="submit" value="Update">
    </form>
    <a href="/urls"> Navigate back to the index</a>
  </body>
</html>